.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}

.create-draw {
    padding: 20px;
}

body {
    margin-top: 6em;
}

.draw {
    width: auto;
    max-width: 900px;
}

.button-season-setup {
    margin-bottom: 20px;
}

.draw-panel {
    width: auto;
    max-width: 900px;
}
